# dependencies
node_modules/

# build output
dist/

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
bun-debug.log*

# env files
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# editor files
.vscode/
.idea/
